body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

h4 {
    padding-left: 20px;
}

input {
    margin: 4px !important;
}

.ns_record, .host_record, .mail_record {
    padding: 7px;
    border-bottom: thin solid darkgray;
    width: 90%;
    margin: 0 2px 0 2px;
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.add {
    margin-left: 20px;
    background-color: white;
    border: 2px solid #555555;
    border-radius: 4px;
    color: dimgrey;
}

.add:hover {
    background-color: #555555;
    color: wheat;
}