body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

h4 {
    padding-left: 20px;
}

.ns_record, .host_record, .mail_record {
    padding: 7px;
    border-bottom: thin solid darkgray;
    width: 100%;
    text-align: center;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.form-control{
    margin: 0 auto !important;
}

.add {
    margin-left: 20px;
    background-color: white;
    border: 2px solid #555555;
    border-radius: 4px;
    color: dimgrey;
}

.add:hover {
    background-color: #555555;
    color: wheat;
}

.errors{
    height: 100%;
    padding-left: 10px;
}