<!DOCTYPE html>
<html>
<head>
    <title>DNS MANAGER</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="/static/common_script.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style/menu.css">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/update">Update</a></li>
</ul>
<h1>DNS Manager</h1>
<h2></h2>

<div>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'domain')" id="defaultOpen">Domain</button>
        <button class="tablinks" onclick="openTab(event, 'hosts', this)" id="btn-tab-host">Hosts <span>&#8594;</span></button>
        <button class="tablinks" onclick="openTab(event, 'mail', this)" id="btn-tab-mail">Mail <span>&#8594;</span></button>
        <button class="tablinks" onclick="openTab(event, 'other', this)">Other</button>
    </div>
</div>

<form id="record_form" onsubmit="return mySubmitFunction()" method="post">
    <div class="container-fluid">
        <div id="domain" class="tabcontent">
            <div class="errors alert alert-danger">
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>Base data</h2>
                    <div class="domain-field input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Domain name</span>
                        </div>
                        <input name="domain_name" id="domain_name" class="form-control" type="text"
                               pattern="[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+" required
                               oninvalid="this.setCustomValidity('Invalid domain name!')"
                               oninput="this.setCustomValidity('')" placeholder="Enter domain name...">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Admin email</span>
                        </div>
                        <input name="admin_mail" id="admin_mail" class="form-control" type="email" required
                            placeholder="Enter admin email address...">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Default TTL</span>
                        </div>
                        <input name="domain_ttl" id="domain_ttl" class="form-control" type="number" min="0"
                               max="3024000" placeholder="Enter time to live..." required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm ns_record_wrapper">
                    <h2>Name Servers</h2>
                    <button type="button" id="add_ns" class="w3-button w3-xlarge w3-teal">+</button>
                    <div class="ns_record form-inline">
                        <input type="text" name="ns1" id="ns1" placeholder="Name server..." class="form-control"
                               pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$">

                        <select name="ns_ip_addr_type1" id="ns_ip_addr_type1" class="form-control">
                            <option disabled selected value="">Ip record type</option>
                            <option value="A">A</option>
                            <option value="AAAA">AAAA</option>
                        </select>

                        <input type="text" name="ns_ip1" id="ns_ip1" placeholder="Ip address..." class="form-control">
                        <!--1209600 sec. or 2 weeks  max ttl for name server-->
                        <input type="number" name="ns_ttl1" id="ns_ttl1" placeholder="Time to live..." min="0"
                               max="1209600" class="form-control">
                        <span class="not-complete">not complete</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="hosts" class="tabcontent">
            <div class="errors alert alert-danger">
            </div>
            <div class="row">
                <div class="col-sm host_record_wrapper">
                    <h2>Hosts </h2>
                    <button type="button" id="add_host" class="w3-button w3-xlarge w3-teal">+</button>
                    <div class="host_record form-inline">
                        <input type="text" name="host_name1" id="host_name1" placeholder="Host name..." class="form-control"
                               pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$">
                        <select name="host_name_ip_addr_type1" id="host_name_ip_addr_type1" class="form-control">
                            <option disabled selected value="">IP record type</option>
                            <option value="A">A</option>
                            <option value="AAAA">AAAA</option>
                        </select>
                        <input type="text" name="host_name_ip1" id="host_name_ip1" placeholder="Ip address..." class="form-control">
                        <!--86400 sec. or 1 day  max ttl for host name-->
                        <input type="number" name="host_name_ttl1" id="host_name_ttl1" placeholder="Time to live..."
                               min="0" max="86400" class="form-control">
                        <input type="text" name="host_cname1" id="host_cname1" placeholder="CNAME..." class="form-control"
                               pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$">
                        <span class="not-complete">not complete</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="mail" class="tabcontent">
            <div class="errors alert alert-danger">
            </div>
            <div class="row">
                <div class="col-sm mail_record_wrapper">
                    <h2>Mails </h2>
                    <button type="button" id="add_mail" class="w3-button w3-xlarge w3-teal">+</button>
                    <div class="mail_record form-inline">
                        <input name="mail_host1" id="mail_host1" type="text" placeholder="Mail host name..." class="form-control"
                               pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$">
                        <select name="mail_addr_type1" id="mail_addr_type1" class="form-control">
                            <option disabled selected value="">IP record type</option>
                            <option value="A">A</option>
                            <option value="AAAA">AAAA</option>
                        </select>
                        <input name="mail_ip_host1" id="mail_ip_host1" type="text" placeholder="Mail host ip address..." class="form-control">
                        <input name="mail_preference1" id="mail_preference1" type="number" min="0" max="65535"
                               placeholder="Preference..." class="form-control">
                        <!--3024000 sec. or 5 weeks  max ttl for mail-->
                        <input type="number" name="mail_ttl1" id="mail_ttl1" placeholder="Time to live..." min="0"
                               max="3024000" class="form-control">
                        <input name="mail_cname1" id="mail_cname1" type="text" placeholder="CNAME..." class="form-control"
                               pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$">
                        <label class="form-check-label">
                            <input type="checkbox" class="external-check form-check-input" name="external1">External
                            record
                        </label>
                        <span class="not-complete">not complete</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="other" class="tabcontent">
            <p>Other records soon...</p>
        </div>
    </div>
</form>

<div style="position: absolute; bottom: 0 !important; left: 0; width: 20%">
    <button type="submit" id="btn-submit" class="btn btn-success" form="record_form">Submit</button>
</div>

</body>
</html>
