<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/style/menu.css">
    <link rel="stylesheet" href="/static/style/update_style.css">
    <script src="/static/script-update.js"></script>
    <script src="/static/common_script.js"></script>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/update">Update</a></li>
</ul>

<div class="fluid_container">
    <form class="form-group">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <h1>Update page!</h1>
            </div>
            <div class="col-sm-6">
                <select class="form-control" name="domain_name_select" id="domain_name_select">
                    <option disabled selected value="">Select domain name</option>
                    {% for item in domain_names %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h4><strong>Domain</strong></h4>
            </div>
            <div class="col-sm-9" style="border: none">
                <div class="form-inline domain-field">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h4>Name server records</h4>
                <button class="add" type="button" id="add_ns">New record</button>
            </div>
            <div class="col-sm-9 ns_record_wrapper">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h4>Host records</h4>
                <button class="add" type="button" id="add_host">New record</button>
            </div>
            <div class="col-sm-9 host_record_wrapper">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h4>Mail records</h4>
                <button class="add" type="button" id="add_mail">New record</button>
            </div>

            <div class="col-sm-9 mail_record_wrapper">
            </div>
        </div>
    </form>
</div>

</body>
</html>